 
*{
    padding= 0 ;
    margin= 0 ;
    outline = none;
    font-family: arial, sans-serif;
    font-weight: 500;
    font-size:22px;
    color: honeydew;
}
#titulo{
    color: black;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
input{
margin= 2px;
border= none;
border-radius: 15px;
align-content: center;
}
input[type= text]{
    width: calc(100% - 30px);
    height: 40px;
    color: black;
    align-content: center;
}
input[type = button]{
    width: 60px;
    height: 50px;
    background: grey;
    align-content: ;
}

#tudo{
    background: black;
    border-radius: 20px;
    padding: 20px;
    box-align: center;
    
}
#calculadora{
    display: flex;
}
#mais{
    background: orange;
}
#menos{
    background: orange;
}
#divisao{
    background: orange;  
}
#mult{
    background: orange;
}
body {
    background-image: url("fundo.jpg");
  }